/* Estilos del pie de página */
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #333;
    color: #fff;
  }
  
  .footer .social-links {
    display: flex;
  }
  
  .footer .social-links a {
    color: #fff;
    text-decoration: none;
    padding: 0 0.5rem;
  }
  
  .footer .social-links a:hover {
    color: #ccc;
  }
  