ul{
    list-style: none;
    display: flex;
    /* justify-content: space-around; */
    gap: 10%;
}
nav{
    width: 60%;
    margin: 0 auto;
    padding: 1rem 0;
    
}
nav ul li a{
    text-decoration: none;
    color: rgb(0, 195, 255);
    font-size: 90%;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.5s  ;
    -webkit-transition: 0.5s  ;
    -moz-transition: 0.5s  ;
    -ms-transition: 0.5s  ;
    -o-transition: 0.5s  ;
}
nav ul li a:hover{
    color: blue;
}
